.AboutUs_bc {
    background-color: #00c4c4;
    margin-top: 0;
 }

 .AboutUS {
    margin-top: 0 !important;
 }

 .AboutUS h1 {
    color: #fff;
 }

 .AboutUS p {
    color: #fff;
 }

canvas {
    display: none !important;
}