nav {
    display: flex;
    justify-content: space-between;
}

nav p {
    margin: 2vw;
    font-weight: 500;
    cursor: pointer;
}


nav p:hover:after {
    background-color: orange;
}

nav p:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: transparent;
    display: block;
    transition: .15s;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.logo img {
    cursor: pointer;
}